.StartButton{
background-color: seagreen;
  border: none;
  color:whitesmoke;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.StartButton:hover {
  background-color: whitesmoke;
  color: white;
}

.StopButton{
    background-color: firebrick;
  border: none;
  color:whitesmoke;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.StopButton:hover {
    background-color:whitesmoke;
    color: white;
  }


.CheckIDsButton{
    background-color: teal;
      border: none;
      color:whitesmoke;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }

.CheckIDsButton:hover {
        background-color:whitesmoke;
        color: white;
    }

.VR{
    font-family: monospace;
    font-size: 120%;
    background-color: hsla(0, 100%, 100%, 0.05);
    position: absolute;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;

}

.word{
    text-align: center;
    color: mintcream;
}

.VoiceText{
    text-align: center;
    color: mintcream;
}

.header{
        font-family: monospace;
        padding: 25px;
        /*text-align: center;*/
        background: #D83A56;
        color: white;
        font-size: 20px;

}
